<h1 mat-dialog-title>Create new user-story</h1>
<div mat-dialog-content>
  <p>Specify what users you want to add and click on add to project.</p>
  <hr>
</div>
<div mat-dialog-actions>
  <form action="" style="width: 100%">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <br>
    <mat-form-field  class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput type="text"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field  class="full-width">
      <mat-label>Name</mat-label>
      <mat-select >
        <mat-option value="Sascha">Sascha</mat-option>
        <mat-option value="Martijn">Martijn</mat-option>
        <mat-option value="Varken (Martijn)">Varken (Martijn) </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <hr>
  <button mat-button (click)="close()">Close</button>
</div>

