<a mat-icon-button color="accent" [routerLink]="['/projects', this.projectId]">
  <mat-icon>arrow_back</mat-icon>
</a>
<mat-card>
  <mat-card-title>{{sprint?.name}} overview</mat-card-title>
  <mat-card-content>
    <button mat-stroked-button (click)="showGraph = !showGraph">
      Toggle burndown
    </button>
    <div *ngIf="sprint && showGraph">
      <app-burndown [sprint]="sprint" [projectId]="projectId" [reload]="reloadEmitter"></app-burndown>
    </div>

    <div cdkDropListGroup>

      <h2>Backlog</h2>

      <div id="backlog"
           cdkDropList
           [cdkDropListData]="backlog"
           class="example-list full-width">
        <app-sprint-card *ngFor="let item of backlog" [item]="item" (click)="cardClick(item)"></app-sprint-card>
        <p *ngIf="backlog.length == 0" style="text-align: center">
          <br>
          Currently no items in this list.
        </p>

      </div>
      <br>

      <div class="example-container">
        <h2>To do</h2>

        <div id="todo"
             cdkDropList
             [cdkDropListData]="todo"
             class="example-list"
             (cdkDropListDropped)="drop($event)">
          <app-sprint-card *ngFor="let item of todo" [item]="item" (click)="cardClick(item)"></app-sprint-card>
          <p *ngIf="todo.length == 0" style="text-align: center">
            <br>
            Currently no items in this list.
          </p>
        </div>
      </div>

      <div class="example-container">
        <h2>In progress</h2>

        <div id="doing"
             cdkDropList
             [cdkDropListData]="doing"
             class="example-list"
             (cdkDropListDropped)="drop($event)">
          <app-sprint-card *ngFor="let item of doing" [item]="item" (click)="cardClick(item)"></app-sprint-card>
          <p *ngIf="doing.length == 0" style="text-align: center">
            <br>
            Currently no items in this list.
          </p>
        </div>
      </div>


      <div class="example-container">
        <h2>Done</h2>

        <div id="done"
             cdkDropList
             [cdkDropListData]="done"
             class="example-list"
             (cdkDropListDropped)="drop($event)">
          <app-sprint-card *ngFor="let item of done" [item]="item" (click)="cardClick(item)"></app-sprint-card>
          <p *ngIf="done.length == 0" style="text-align: center">
            <br>
            Currently no items in this list.
          </p>
        </div>
      </div>

    </div>
  </mat-card-content>

  <mat-card-actions align="right">
    <button mat-raised-button color="accent" [routerLink]="['/projects', projectId, 'sprints', sprintId,'edit']">Edit
      sprint
    </button>
  </mat-card-actions>
</mat-card>
