<a mat-icon-button color="accent" [routerLink]="['/projects', this.projectId]">
  <mat-icon>arrow_back</mat-icon>
</a>
<mat-card>
  <mat-card-title>{{sprint?.name}} overview</mat-card-title>
  <mat-card-content>
    <div cdkDropListGroup>

    <h2>Backlog</h2>

    <div id="backlog"
      cdkDropList
      [cdkDropListData]="backlog"
      class="example-list full-width">
      <mat-card class="example-box full-width" *ngFor="let item of backlog" cdkDrag  (click)="cardClick(item)">
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
        <mat-card-content><p>Points: {{(item.storyPoints != undefined) ? item.storyPoints : 'No points'}}</p></mat-card-content>
      </mat-card>
    </div>
    <br>

      <div class="example-container">
        <h2>To do</h2>

        <div id="todo"
          cdkDropList
          [cdkDropListData]="todo"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <mat-card class="example-box" *ngFor="let item of todo" cdkDrag  (click)="cardClick(item)">
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
            <mat-card-content><p>Points: {{(item.storyPoints != undefined) ? item.storyPoints : 'No points'}}</p></mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="example-container">
        <h2>Doing</h2>

        <div id="doing"
          cdkDropList
          [cdkDropListData]="doing"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <mat-card class="example-box" *ngFor="let item of doing" cdkDrag (click)="cardClick(item)">
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
            <mat-card-content><p>Points: {{(item.storyPoints != undefined) ? item.storyPoints : 'No points'}}</p></mat-card-content>
          </mat-card>
        </div>
      </div>


      <div class="example-container">
        <h2>Done</h2>

        <div id="done"
          cdkDropList
          [cdkDropListData]="done"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <mat-card class="example-box" *ngFor="let item of done" cdkDrag  (click)="cardClick(item)">
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
            <mat-card-content><p>Points: {{(item.storyPoints != undefined) ? item.storyPoints : 'No points'}}</p></mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>

    <div *ngIf="sprint">
      <app-burndown [sprint]="sprint" [projectId]="projectId"></app-burndown>
    </div>
  </mat-card-content>

  <mat-card-actions align="right">
    <button mat-raised-button color="accent" [routerLink]="['/projects', projectId, 'sprints', sprintId,'edit']">Edit sprint</button>
  </mat-card-actions>
</mat-card>
