<h1 mat-dialog-title>Create new sprint</h1>
<div mat-dialog-content>

  <form action="" style="width: 100%" [formGroup]="addSprintForm" (submit)="createSprint(addSprintForm.value)">
    <mat-form-field class="full-width">
      <mat-label>Sprint name</mat-label>
      <input matInput type="text" name="name" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Sprint Description</mat-label>
      <textarea matInput type="text" name="description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Choose an start date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Choose an end date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="addSprintForm.errors?.before !== null">
        end date must be after start date.
      </mat-error>
    </mat-form-field>
    <br>

    <button [disabled]="!addSprintForm.valid" mat-raised-button color="primary" type="submit">Create sprint.</button>

  </form>
  <hr>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</div>

